<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:sas="http://typo3.org/ns/Hn/ShareASecret/ViewHelpers"
      data-namespace-typo3-fluid="true"
>
<f:comment>
    Required arguments:
    statistics: array, an array containing arrays to be displayed as a table
</f:comment>
<f:layout name="Default" />
<f:section name="Main">
    <div data-highchart="{activityChartConfig -> f:format.json()}" style="width:100%; height:800px;"></div>

    <sas:table elements="{statistics.totalStatistic}"
               tableClass="table-bordered"
               columnNames="{
                    createdSecrets: 'Created secrets',
                    readSecrets: 'Read secrets',
                    unreadSecrets: 'Unread secrets',
                    existingSecrets: 'Existing secrets',
                    deletedSecrets: 'Deleted secrets'
               }"
               tableHeading="Total statistics"
               searchable="false"
    />
    <sas:table elements="{statistics.existingSecrets}"
               tableClass="table-bordered sortable"
               tableHeading="All secrets in the database"
               excludeColumns="{
                    0: 'message',
                    1: 'index_hash',
                    2: 'pid',
                    3: 'uid',
                    4: 'secret',
                    5: 'event',
                    6: 'date'
               }"
               columnNames="{
                    crdate: 'Creation date',
                    dateRead: 'Date of reading'
               }"
               formats="{
                    crdate: {date: 'd.m.Y H:i:s'},
                    dateRead: {date: 'd.m.Y H:i:s'}
               }"
    />
    <sas:table elements="{statistics.mostRecentEvents}"
               tableClass="table-bordered sortable"
               tableHeading="Most recent events"
               columns="{
                    uid: 'Event ID',
                    date: 'Date',
                    secret: 'Secret ID',
                    message: 'Logged message'
               }"
               formats="{
                    date: {date: 'd.m.Y H:i:s'}
               }"
    />
    <script src="{f:uri.resource(path: 'JavaScript/sortTable.js')}"></script>
    <script src="{f:uri.resource(path: 'JavaScript/searchTable.js')}"></script>
</f:section>
</html>
