<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:sas="http://typo3.org/ns/Hn/ShareASecret/ViewHelpers"
      data-namespace-typo3-fluid="true"
>
<f:comment>
    Required arguments:
    statistics: array, an array containing arrays to be displayed as a table
</f:comment>
<f:layout name="Default" />
<f:section name="Main">
    <sas:table elements="{statistics.totalStatistic}"
               columnNames="{
                    createdSecretsCount: 'Created secrets',
                    readSecrets: 'Read secrets',
                    unreadSecrets: 'Unread secrets'
               }"
               tableHeading="Total statistics"
    />
    <sas:table elements="{statistics.unreadSecrets}"
               excludeColumns="{
                    0: 'message',
                    1: 'index_hash'
               }"
               tableHeading="All unread secrets"
               formats="{crdate: {date: 'Y.m.d. H:i:s'}}"
               columnNames="{
                    crdate: 'Creation date',
                    uid: 'Secret ID'
               }"
    />
    <sas:table elements="{statistics.existingSecrets}"
               tableHeading="All secrets in the database"
               excludeColumns="{
                    0: 'message',
                    1: 'index_hash'
               }"
               formats="{crdate: {date: 'Y.m.d. H:i:s'}}"
    />
    <sas:table elements="{statistics.readSecrets}"
               tableHeading="All read secrets"
               formats="{
                    creationDate: {date: 'Y.m.d. H:i:s'},
                    readDate: {date: 'Y.m.d. H:i:s'}
               }"
    />
</f:section>
</html>
