<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:sas="http://typo3.org/ns/Hn/ShareASecret/ViewHelpers"
      data-namespace-typo3-fluid="true"
>
<f:comment>
    Required arguments:
    statistics: array, an array containing arrays to be displayed as a table
</f:comment>
<f:layout name="Default" />
<f:section name="Main">
    <div data-highchart="{activityChartConfig -> f:format.json()}" style="width:100%; height:800px;"></div>

    <sas:table elements="{statistics.totalStatistic}"
               columnNames="{
                    createdSecrets: 'Created secrets',
                    readSecrets: 'Read secrets',
                    unreadSecrets: 'Unread secrets',
                    existingSecrets: 'Existing secrets',
                    deletedSecrets: 'Deleted secrets'
               }"
               tableHeading="Total statistics"
    />
    <sas:table elements="{statistics.mostRecentEvents}"
               tableHeading="Most recent events"
               columns="{
                    uid: 'Event ID',
                    date: 'Date',
                    secret: 'Secret ID',
                    message: 'Logged message'
               }"
               formats="{
                    date: {date: 'Y.m.d. H:i:s'}
               }"
    />
    <sas:table elements="{statistics.createdSecrets}"
               tableHeading="All created secrets"
               excludeColumns="{
                    0: 'message',
                    1: 'index_hash'
               }"
               formats="{creationDate: {date: 'Y.m.d. H:i:s'}}"
               columns="{
                    secret: 'Secret ID',
                    creationDate: 'Creation date'
               }"
    />
    <sas:table elements="{statistics.existingSecrets}"
               tableHeading="All secrets in the database"
               excludeColumns="{
                    0: 'message',
                    1: 'index_hash',
                    2: 'pid'
               }"
               columnNames="{
                    uid: 'Secret ID',
                    crdate: 'Creation date'
               }"
               formats="{crdate: {date: 'Y.m.d. H:i:s'}}"
    />
    <sas:table elements="{statistics.unreadSecrets}"
               excludeColumns="{
                    0: 'message',
                    1: 'index_hash',
                    2: 'pid'
               }"
               tableHeading="All unread secrets"
               formats="{crdate: {date: 'Y.m.d. H:i:s'}}"
               columnNames="{
                    crdate: 'Creation date',
                    uid: 'Secret ID'
               }"
    />
    <sas:table elements="{statistics.readSecrets}"
               tableHeading="All read secrets"
               columns="{
                    secret: 'Secret ID',
                    creationDate: 'Creation date',
                    logDate: 'Date of reading'
               }"
               formats="{
                    creationDate: {date: 'Y.m.d. H:i:s'},
                    logDate: {date: 'Y.m.d. H:i:s'}
               }"
    />
    <sas:table elements="{statistics.deletedSecrets}"
               tableHeading="All deleted secrets"
               columns="{
                    secret: 'Secret ID',
                    date: 'Deletion date'
               }"
               formats="{
                    date: {date: 'Y.m.d. H:i:s'}
               }"
    />
</f:section>
</html>
