<f:comment>
    Required arguments:
       linkHash, the hash of the secret
</f:comment>


<f:form action="show">
    <div class="container">
        <div class="row">
            <div class="col col-md-6">
                <div class="form-group">
                    <f:form.hidden id="linkHash" name="linkHash" value="{linkHash}"/>
                    <label for="userPassword">Password:</label>
                    <f:form.textfield id="userPassword"
                                      class="form-control"
                                      name="userPassword"
                                      type="password"
                                      autofocus="autofocus"
                    />
                </div>
                <f:form.submit class="btn btn-primary"
                               value="Submit"
                />
            </div>
        </div>
    </div>
</f:form>