<f:comment>
    Required arguments:
       linkHash, the hash of the secret
</f:comment>


<f:form action="show">
    <f:form.hidden name="linkHash" value="{linkHash}"/>
    <div class="container">
        <div class="row">
            <div class="col col-md-6">
                <div class="form-group">
                    <label for="password">Password:</label>
                    <f:form.textfield id="password"
                                      class="form-control"
                                      name="password"
                    />
                </div>
                <f:form.submit class="btn btn-primary"
                               value="Submit"
                />
            </div>
        </div>
    </div>
</f:form>