<f:comment>
    Optional parameters:
    userPassword: string, a password to pre-fill the password input
</f:comment>
<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

    <f:form action="create" controller="Secret">
        <div class="col col-md-6">
            <div class="form-group">
                <label for="message">Message:</label>
                <f:form.textarea id="message"
                                 name="message"
                                 class="form-control"
                />
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <f:form.textfield id="password"
                                  name="userPassword"
                                  class="form-control"
                                  type="text"
                                  value="{userPassword}"
                />
            </div>
            <f:form.button type="submit" class="btn btn-primary">Generate link</f:form.button>
        </div>
    </f:form>

</html>