<f:comment>
    Expected arguments:
        @param secret Secret, The secret to display a link for.
</f:comment>

<div class="container">
    <div class="col col-md-6">
        <div class="form-group">
            <label for="text-area-link">Link:</label>
            <f:link.action id="secret-link"
                           action="inputPassword"
                           arguments="{linkHash: secret.linkHash}"
            />
            <f:form.textarea id="text-area-link"
                             class="form-control"
                             value="{host}"
            />
        </div>
    </div>
</div>