<f:comment>
    Required arguments:
        message, the message to show
</f:comment>
<div class="container">
    <div class="row">
        <div class="col col-md-6">
            <div class="form-group">
                <label for="message">Message:</label>
                <f:form.textarea id="message"
                                 class="form-control"
                                 value="{message}"
                                 readonly="readonly"
                />
            </div>
        </div>
    </div>
</div>