<f:comment>
    Expected arguments:
    @param string host, the name of the host
    @param string linkHash, the link hash to add to the link
    @param string userPassword, the password to display
</f:comment>

<div class="container">
    <div class="col col-md-6">
        <div class="form-group">
            <label for="text-area-link">Link:</label>
            <f:form.textarea id="text-area-link"
                             class="form-control"
                             value="{f:uri.action(absolute: 'true', action: 'inputPassword', arguments: {linkHash: linkHash})}"
                             readonly="readonly"
            />
            <f:form.button id="copy-to-clipboard"
                           class="copy-to-clipboard input-group-text"
                           additionalAttributes="{data-input-text-id: 'text-area-link'}">
                <f:image src="EXT:hn_share_secret/Resources/Public/clipboard-icon.png" alt="Copy to clipboard"/>
            </f:form.button>
        </div>
        <div class="form-group">
            <label for="userPassword">Password:</label>
            <f:form.textfield id="userPassword"
                              class="form-control"
                              readonly="readonly"
                              value="{userPassword}"
            />
        </div>
    </div>
</div>