.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #FFFFFF;
}

.table-striped > tbody > tr:nth-of-type(even) {
    background-color: #EEEEEE;
}

table.sortable th[data-sorting-order="both"] {
    background-image: url("../Icons/sort-solid.svg");
}

table.sortable th[data-sorting-order="asc"] {
    background-image: url("../Icons/sort-up-solid.svg");
}

table.sortable th[data-sorting-order="desc"] {
    background-image: url("../Icons/sort-down-solid.svg");
}

table.sortable th[data-sorting-order] {
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 20px 20px;
}

table.sortable th[scope="col"] {
    box-shadow: 0 0 2px grey;
}

div.table-view-helper span.search {
    position: absolute;
    border: none;
    box-shadow: none;
    right: 0;
    top: 0;
    width: fit-content;
}

div.table-view-helper caption {
    position: relative;
    color: black;
    font-size: 14px;
}

div.table-view-helper {
    margin: 5px 0;
    padding: 0 5px;
}
