<f:comment>
    Optional arguments:
    The following arguments set the value for the corresponding input fields:
    company
    username
    plainPassword
</f:comment>
<f:debug>{company}</f:debug>
<f:debug>{username}</f:debug>
<f:debug>{plainPassword}</f:debug>
<!--<f:variable name="company" value="{company}"/>
<f:variable name="username" value="{username}"/>
<f:variable name="plainPassword" value="{plainPassword}"/>
<f:variable name="plainPasswordReentered" value="{plainPasswordReentered}"/>-->
<f:form action="create">
    <div class="container">
        <div class="row">
            <div class="col col-md-6">
                <div class="form-group">
                    <label for="company">Company:</label>
                    <f:form.textfield id="company"
                                      class="form-control"
                                      name="company"
                                      value="{company}"
                    />
                </div>
                <div class="form-group">
                    <label for="username">Username:</label>
                    <f:form.textfield id="username"
                                      class="form-control"
                                      name="username"
                                      value="{username}"
                    />
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <f:form.textfield id="password"
                                      class="form-control"
                                      name="plainPassword"
                                      type="password"
                                      value="{plainPassword}"
                    />
                </div>
                <div class="form-group">
                    <label for="password-2">Reenter your password:</label>
                    <f:form.textfield id="password-2"
                                      class="form-control"
                                      name="plainPasswordReentered"
                                      type="password"
                    />
                </div>
                <f:form.submit class="btn btn-primary"
                               value="Sign in"/>
            </div>
        </div>
    </div>
</f:form>